<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>Home</title>
</head>
<body>
    <header>
        <h1>Desing de Interiores</h1>
    </header>
    <nav>
        <div class="menu-icon">&#9776;</div>
        <ul>
            <li><a href="{% url 'index' %}">Início</a></li>
            <li><a href="{% url 'elementos_designer' %}">Elementos Desing</a></li>
            <li><a href="#">Ferramentas</a></li>
            <li><a href="{% url 'contatos' %}">Contatos</a></li>
        </ul>
    </nav>
    <main>
        <section>
            <h2>Introdução</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit dignissimos minus molestias vero nemo, ab corrupti beatae qui ex! Aliquam odit impedit quam quas modi, cum unde. Illo, nam quis.</p>
            <article>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates quisquam ipsam reprehenderit quia a facere animi suscipit nemo. Cum aut est sapiente voluptas quam fuga laborum? Aliquid voluptatum cum veritatis!
                Non, quasi adipisci! Aliquid possimus eum at hic consectetur neque! Ab aspernatur fuga suscipit, consequatur necessitatibus ullam sint error, ipsum quod libero assumenda neque labore vel eveniet dignissimos beatae! Sunt!
            </article>
        </section>

        <section>
            <h2>Elementos Desing</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit dignissimos minus molestias vero nemo, ab corrupti beatae qui ex! Aliquam odit impedit quam quas modi, cum unde. Illo, nam quis.</p>
            <article>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates quisquam ipsam reprehenderit quia a facere animi suscipit nemo. Cum aut est sapiente voluptas quam fuga laborum? Aliquid voluptatum cum veritatis!
                Non, quasi adipisci! Aliquid possimus eum at hic consectetur neque! Ab aspernatur fuga suscipit, consequatur necessitatibus ullam sint error, ipsum quod libero assumenda neque labore vel eveniet dignissimos beatae! Sunt!
            </article>
        </section>

        <section>
            <h2>Ferramentas de Desing</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit dignissimos minus molestias vero nemo, ab corrupti beatae qui ex! Aliquam odit impedit quam quas modi, cum unde. Illo, nam quis.</p>
            <article>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates quisquam ipsam reprehenderit quia a facere animi suscipit nemo. Cum aut est sapiente voluptas quam fuga laborum? Aliquid voluptatum cum veritatis!
                Non, quasi adipisci! Aliquid possimus eum at hic consectetur neque! Ab aspernatur fuga suscipit, consequatur necessitatibus ullam sint error, ipsum quod libero assumenda neque labore vel eveniet dignissimos beatae! Sunt!
            </article>
        </section>

        <section>
            <h2>Videos institucionais</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/watch?v=Sb5aq5HcS1A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </section>

    </main>

    <footer>
        <p>&copy;2023 Desing de Interiores</p>
    </footer>

    <script>
        document.querySelector(".menu-icon").addEventListener("click", function() {
            document.querySelector("nav ul").classList.toggle("show")
        })
    </script>
</body>
</html>